{% extends 'gabarit.twig' %}

{% block title %}Page accueil{% endblock %}

{% block contenu %}
<h1>Contact</h1>
<div class="card">
   <div class="card-header">
      Bienvenue sur votre site Internet.
   </div>
   <div class="card-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis aliquam accusantium, praesentium molestiae delectus rem, modi dolor odit nam accusamus, molestias laboriosam repudiandae laborum deserunt autem soluta excepturi ipsa adipisci!
   </div>
</div>
{% endblock %}